<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sacral Garden OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sacral Garden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64982B9F1CA6ECFB006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64982BB71CA6ECFC006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64982BC21CA6ECFC006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64982BD81CA6EDFB006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64982BEA1CA6EDFC006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64982BF51CA6EDFC006C4E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
